<div class="center">
    <a href="/projects/{{project.alias}}" style="text-decoration:none;"> &larr; Go Back</a>
</div>
<div style="align-content: center">
    <p>
        <h1= style="color: red">Top 5 searches for kids drawing</h1>    
    </p>
</div>